body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.div-wrapper {
  box-shadow: 0 30px 50px 0 rgb(44 49 59 / 20%);
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 600px;
  overflow: hidden;
}

.div-header {
  display: flex;
  color: black;
  justify-content: space-evenly;
  gap: 1rem;
  font: bold;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.div-img-container {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.div-icon {
  display: flex;
  cursor: pointer;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.CloseIcon {
  align-items: center;
  text-align: center;
  color: rgb(157, 166, 184);
}

.div-body {
  background-color: rgb(241 245 249);
  height: 500px;
  display: flex;
 overflow: scroll;
}

/* /// TREE Component /// */

#tree-div {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border-bottom: 2px solid #3f51b53e;
  /* box-shadow: 2px 2px 2px 2px #3f51b53e; */
  /* border: 1px solid gainsboro; */
}

#tree-svg {
    /* border-bottom: 2px solid #3f51b53e; */
  /* box-shadow: 2px 2px 2px 2px #3f51b53e; */
  border: 1px solid gainsboro;
  border-radius: 2px;
  margin-bottom: 1rem;
  overflow: scroll;
  flex: 0.6;
}

#tree-error-div {
  border-top: 1px solid #a0a2a554;
  flex: 0.4;
  overflow: scroll;
}

/* .chart {
  overflow-y: scroll;
  overflow-x: scroll;
  transform: scale(1);
  zoom: 2.9;
} */

/* #errorList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 40vh;
  margin-top: 5px;
  align-items: center;
  overflow-y: scroll;
} */



/* /// SEO Component /// */

#seo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#seo-wheel-total {
  width: 150px;
  height: 150px;
  margin-bottom: 2rem;
}

#seo-wheels {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#seo-val-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

#seo-val-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#h2-scores {
  text-align: center;
  color: rgb(70, 70, 70);
}

/* #seo-val-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.15), -2px -2px 4px -1px rgba(255, 255, 255, 0.7);
}

#seo-val-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  box-shadow: inset 1.5px 1.5px 2px -1px rgba(0, 0, 0, 0.2),
              inset -1.5px -1.5px 2px -1px rgba(255, 255, 255, 0.7),
              -0.3px -0.3px 0px rgba(255, 255, 255, 1),
              0.3px 0.3px 0px rgba(0, 0, 0, 0.15),
              0px 4px 3px -3px rgba(0, 0, 0, 0.05);
} */

/* circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 13%;
  stroke-dasharray: 124;
  stroke-dashoffset: 124;
  animation: anim 2s linear forwards;
} */

/* #seo-svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* @keyframes anim {
  100%{
    stroke-dashoffset: 7.4;
      stroke-dashoffset: calc(124 - (124 * ( {testVal1} ))) 
  }
} */

.div-footer {
  text-align: center;
  position: relative;
  height: 50px;
}

.ul-bot-nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  list-style: none;
}

li {
  width: 100%;
}

.bot-tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-tab-pop {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  color: #c6d0e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-150%);
  pointer-events: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.6rem;
}

.bot-tab-pop::after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #373c46
}

.bot-tab-wrapper:hover>.bot-tab-pop {
  opacity: 1;
  transform: translateY(-100%)
}

.bot-tab-pop-content {
  border-radius: 2px;
  padding: 6px 9px;
  background-color: #373c46;
  box-shadow: 0 4px 8px 0 rgb(44 48 59 /30%);
  text-transform: uppercase;
}

.bot-tab {
  display: inline-block;
  text-align: center;
  flex-grow: 1;
  padding: 16px 0;
  cursor: pointer;
  width: 100%;
}

.bot-tab:hover {
  background-color: rgba(243, 245, 249, 0.5);
}