body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.div-wrapper {
  box-shadow: 0 30px 50px 0 rgb(44 49 59 / 20%);
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 600px;
  overflow: hidden;
}

.div-header {
  display: flex;
  color: black;
  justify-content: space-evenly;
  gap: 1rem;
  font: bold;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.div-img-container {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.div-icon {
  display: flex;
  cursor: pointer;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.CloseIcon {
  align-items: center;
  text-align: center;
  color: rgb(157, 166, 184);
}

.div-body {
  background-color: rgb(241 245 249);
  height: 500px;
  display: flex;
  flex-direction: column;
}

/* /// TREE Component /// */

#tree-div {
  overflow: scroll;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  /* border-bottom: 2px solid #3f51b53e;
  /* box-shadow: 2px 2px 2px 2px #3f51b53e; */
  /* border: 1px solid gainsboro; */
}

#tree-svg {
    /* border-bottom: 2px solid #3f51b53e; */
  /* box-shadow: 2px 2px 2px 2px #3f51b53e; */
  /* border: 1px solid gainsboro;
  border-radius: 2px; */
  overflow: scroll;
  flex: 0.7;
}

#tree-error-div {
  border-top: 1px solid #a0a2a554;
  flex: 0.3;
  overflow: scroll;
}

#error-div-inner {
  box-shadow: 2px 2px 2px 2px gainsboro;
  padding: 5px;
  margin: 5px;
  background-color: white;
}


/* .chart {
  overflow-y: scroll;
  overflow-x: scroll;
  transform: scale(1);
  zoom: 2.9;
} */

/* #errorList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 40vh;
  margin-top: 5px;
  align-items: center;
  overflow-y: scroll;
} */



/* /// SEO Component /// */

#seo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: scroll;
}

#run-LH-btn {
    opacity: 80%;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin-top: 175px;
    margin-bottom: 20px;
    padding: 45px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: bold;   
    font-size: 14px;         
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    border-color: transparent;
    display: block;
    cursor: pointer;
    align-items: center;
    display: flex;
  }

  #run-LH-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

/* #seo-wheel-total {
  width: 150px;
  height: 150px;
  margin-bottom: 2rem;
} */

#seo-wheels {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#seo-val-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

#seo-val-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

#h2-scores {
  text-align: center;
  color: rgb(70, 70, 70);
}

#seo-bins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#seo-metrics-box {
  padding: 10px;
  margin: 3px 10px 8px 10px;
  background-color: white;
}

#metrics-value {
  color: red;
}

#metrics-desc-div {
  padding-top: 3px;
  max-width: 70%;
}

#opportunities-div {
  padding: 8px;
}

#opp-div-each {
  margin-bottom: 7px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

#save-data-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-bottom: 15px;
}

#save-data-btn:hover {
  background-color: #f7fafa;
}



/* /// UI Bottom Portion /// */

.div-footer {
  text-align: center;
  position: relative;
  height: 50px;
  box-shadow:  0 -4px 8px -6px rgba(0,0,0,0.4);
}

.ul-bot-nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  list-style: none;
}

li {
  width: 100%;
}

.bot-tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-tab-pop {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  color: #c6d0e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-150%);
  pointer-events: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.6rem;
}

.bot-tab-pop::after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #373c46
}

.bot-tab-wrapper:hover>.bot-tab-pop {
  opacity: 1;
  transform: translateY(-100%)
}

.bot-tab-pop-content {
  border-radius: 2px;
  padding: 6px 9px;
  background-color: #373c46;
  box-shadow: 0 4px 8px 0 rgb(44 48 59 /30%);
  text-transform: uppercase;
}

.bot-tab {
  display: inline-block;
  text-align: center;
  flex-grow: 1;
  padding: 16px 0;
  cursor: pointer;
  width: 100%;
}

.bot-tab:hover {
  background-color: rgba(243, 245, 249, 0.5);
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}